html {
  height: 100%;
  width: 100%;
}

body {
  background-color: hsl(47, 88%, 63%);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;

}

.card {
  border: 1px solid hsl(0, 0%, 7%);
  box-shadow: 10px 5px 0px hsl(0, 0%, 7%);
  border-radius: 20px;
  font-size: 16px;
  font-family: 'Figtree', sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
  box-sizing: border-box;
  background-color: white;
  padding: 20px;
  
}

#button {
  color: hsl(0, 0%, 7%);
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0px;
  border-radius: 8%;
  padding: 7px 13px;
  display: inline;
  background-color: hsl(47, 88%, 63%);
}
#image {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

#paragraph {
  line-height: 25px;
  margin-top: 0px;
  font-size: 16px;
  color: hsl(0, 0%, 50%);
  margin-bottom: 25px;
}
.header {
  color: hsl(0, 0%, 7%); 
  font-size: 23px;
  font-weight: 800;
  margin: 5px, 0px;
}
.date {
  color: hsl(0, 0%, 7%);
  font-size: 13px;
  margin-top: 8px;
  margin-bottom: 1%;
  padding-top: 15px;  
  padding-bottom: 2px;

}

.span {
  margin-left: 10px;
  font-weight: 800;
}

.greg {
  margin-right: 10px;
  width: 35px;
  vertical-align: middle;
}
#text {
  font-weight: 800; 
}